
.form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 400px;
height: 500px;
min-width: 320px;
min-height: 400px;
border: 5px solid orange;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
margin: auto;
margin-top: 200px;
background-color: orange;
border-radius: 10px;
}

.form h2 {
    font-weight: bold;
    color: white;
    text-shadow:2px 2px orangered;
    font-size: 2rem;
    font-family: "Arial", sans-serif;
    margin: 40px;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 65%;
}

#button {
    padding: 12px;
    width: 60%;
    margin: 40px;
    background-color: white;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 10px;
}

#button:hover {
    cursor: pointer;
    background-color: orangered;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-2px);
}

.form a{
    padding: 5px;
    text-decoration: none;
    color: black;
}

.form a:hover{
    background-color: transparent;
    color: orangered;
    text-decoration: underline;
}

